<footer class="border-t border-gray-200 bg-zinc-50/50 py-6">
  <div class="mx-auto max-w-5xl text-center text-sm text-gray-500">
    <p>
      Udenar Cloud 2025 - Desarrollada por <a
        href="https://github.com/yorth21"
        class="text-primary hover:underline">Yorth21</a
      >
    </p>
  </div>
</footer>
