<header class="sticky top-0 z-99 flex items-center justify-center">
  <nav class="my-4 px-8 py-4 bg-slate-300/20 backdrop-blur-lg border border-white/20 inset-shadow-sm inset-shadow-slate-300/50 rounded-2xl transition-all duration-300">
    <ul class="flex space-x-8 text-gray-500 text-lg font-medium">
      <li><a href="#" class="hover:text-gray-700 transition-colors">Home</a></li>
      <li><a href="#projects" class="hover:text-gray-700 transition-colors">Projects</a></li>
    </ul>
  </nav>
</header>
