<header class="sticky top-0 z-99 flex items-center justify-center">
  <nav
    class="my-4 rounded-2xl border border-white/20 bg-slate-300/20 px-8 py-4 inset-shadow-sm inset-shadow-slate-300/50 backdrop-blur-lg transition-all duration-300"
  >
    <ul class="flex space-x-4 text-lg font-medium text-gray-500">
      <li>
        <a href="#" class="px-2 py-3 transition-colors hover:text-gray-700"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="px-2 py-3 transition-colors hover:text-gray-700">Proyectos</a
        >
      </li>
    </ul>
  </nav>
</header>
