---
// Hero component for Udenar Cloud
---

<section
  id="home"
  class="-mt-24 flex h-full min-h-screen w-full flex-col bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
>
  <div
    class="flex h-full w-full flex-1 flex-col items-center justify-center px-4"
  >
    <h1
      class="text-primary text-center text-4xl font-bold sm:text-5xl md:text-6xl"
    >
      Udenar en la <span class="text-secondary">nube</span>
    </h1>
    <p class="mt-4 max-w-[40ch] text-center text-lg text-gray-600 sm:text-xl">
      Colección de herramientas web desarrolladas por los estudiantes de la
      udenar.
    </p>
    <div class="mt-8 flex space-x-4">
      <a
        aria-label="Ver proyectos"
        class="bg-secondary hover:bg-secondary/80 animate-bounce rounded-full p-3 text-white shadow-lg transition focus:outline-none"
        href="#projects"
        title="Ver proyectos"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
