---
import "../styles/global.css";
import background from '../assets/background.svg';

import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<img class="fixed top-0 left-0 w-full h-full -z-10 blur-3xl" src={background.src} alt="" fetchpriority="high" />
		<div class="flex flex-col min-h-screen bg-background text-foreground">
			<Header />
			<slot />
		</div>
	</body>
</html>